body{
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 0 1em 4em;
    color: #566b78;
}
h2{
    margin-top: 1em;
    padding-top: 1em;
}
h1,h2,strong{
    color: #333;
}
a{
    color: #e81c4f;
}
.header{
    content: url("../img/header.gif");
    width: 100%;
    height: auto;
}
section{
    display: none;
    margin: 0;
}
section.active{
    display: block;
    border: 1px solid;
}
input{
    margin-top: 2px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    border: 1px solid;
    font-family: inherit;
    font-size: .8em;
    margin: 0 5px 0 0;
}
nav li a{
    text-decoration: none;
}
li:hover{
    background-color: lightgray;
}
li.active{
    color:white;
    padding-bottom: 1px;
    background-color: gray;
}
li.active a{
    color:white;
}
code{
    padding: 0 .5em 0;
}
input[name="bduss"]{
    width: 75%;
    margin: 1em 0 0;
}
.line{
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.word{
    background-color: white;
    text-align: center;
}
.tieba-detail{
    margin-top: 3em;
    display: none;
}
table{
    border: none;
}
.table{
    margin: 1em auto;
    border-collapse: collapse;
    width: 100%;
}
.table, .table th, .table td{
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: #f5f5f5;
}
